* {
    margin: 0;
    padding: 0;
}

:root {
    --mainOpacity: rgba(0, 0, 0, 0.55);

}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./Images/PublicImages/image-2.jpg");
    opacity: var(--mainOpacity);
    height: 17em !important;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-corners {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-corners {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 60px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid #E4E5EA
}

.main-color {
    background-color: #0e76a8;
}

.col-image-left {
    background-image: url("./Images/PublicImages/left.jpg");
    height: 25em !important;
}

.image-left {
    width: 100%;
}

.image-right {
    width: 100%;
}

.col-image-right {
    background-image: url("./Images/PublicImages/image-1.jpg");
    height: 25em !important;
}

.lost-image {
    background-image: url("./Images/PublicImages/image-3.jpg");
    height: 25em !important;
}

.homepage-carousel-title {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.book-div {
    width: 480px;
    height: 384px;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}



p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    opacity: 0.7;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
}

@media screen and (min-width: 1200px ) {
    p {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        opacity: 0.7;
    }

    h2 {
        font-family: 'Arial', sans-serif;
        font-size: 34px;
    }

    h1 {
        font-family: 'Arial', sans-serif;
        font-size: 44px;
    }
}

@media screen and (min-width: 1400px ) {
    p {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        opacity: 0.7;
    }

    h2 {
        font-family: 'Arial', sans-serif;
        font-size: 36px;
    }

    h1 {
        font-family: 'Arial', sans-serif;
        font-size: 48px;
    }
}

p.copyright {
        font-family: 'Arial', sans-serif;
        font-size: 12px;
        opacity: 1;
}

